/* event listing global css  */

.event-left{
	float: left;
}

.event-right{
	float:right;
}

/** event listing **/

.event-listing{
	border: 1px solid #d9d9d9;
}

.sorter{
	padding: 10px 10px;
	background:#f7f7f7;
	border-bottom: 1px dashed #d9d9d9;
	text-align: left;
}

.sorter .event-listing--title {
	padding: 5px 0 0;
}

.sorter .event-listing--title span{
	text-transform: uppercase;
	font-size: 18px;
}

.event-sorting--opt{
	
}

.event-sorting--opt input.search{
	padding: 8px 15px;
	border:1px solid #d9d9d9;
	border-radius: 4px;
}

.event-sorting--opt input:focus{
}

.event-sorting--opt .sorted--off{
	height:30px;
	background:#fff;
	border:1px solid #d9d9d9;
	border-radius: 4px;
}

.event-listing .event-detail{
	padding: 15px 10px;
}

.event-listing .event-detail .event--list{
	margin: 0 0 10px;
	padding: 10px;
	border:1px solid #d9d9d9;
	border-radius: 5px;
	background:#f7f7f7;
}

.event-listing .event-detail .event--list .el-date{
	border:1px solid #d9d9d9;
	border-radius: 4px;
	/*height:60px; this is just static height*/
	/*width:115px;*/
	text-align: center;

}

.event-listing .event-detail .event--list .el-date-month{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 8px 0;
	font-size: 15px;
	background: #004a8d;
	color:#fff;
}

.event-listing .event-detail .event--list .el-date-month-black{
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	padding: 8px 15px;
	font-size: 15px;
	background: #3b3b3b;
	color:#fff;
}

.event-listing .event-detail .event--list .el-year{
	/*border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;*/
	padding: 5px 15px;
	font-size: 22px;
}

.event-listing .event-detail .event--list .event-list--content {
	width: 80%;
	margin-left: 10px;

}

.event-listing .event-detail .event--list .event-list--content span.evc-title{
	font-size: 16px;
	color:#545353;
	text-transform: uppercase;
	font-weight: bold;

}

.event-listing .event-detail .event--list .event-list--content p{
	font-size: 13px;
	color:#545353;

}

