/** global **/

.distributor{
	width: 50%;
	padding: 5px;
	border: 1px solid #72f1c8;
}

.distributor p{
	margin:0!important;
	text-transform: uppercase;
}

.distributor .dist-list{	
	width: 70%;
}

.distributor .dist-opt--btn{
	margin: 10px 0;
}

.distributor .dist-opt--btn .dist-opt--save, .distributor .dist-opt--btn .dist-opt--cancel{
	width: 50px;
	padding: 3px 10px;
	margin: 0 10px 0 0;
	background: #fff;
	border: 1px solid #f00;
	cursor: pointer;
	text-align: center;
}

.distributor .dist-opt--btn .dist-opt--save:hover, .distributor .dist-opt--btn .dist-opt--cancel:hover{
	background: #cecece;

}

.dist-error{
	color:#ff0000;
}
