/** Distributor Credential **/

/** global End **/

.clear{
	clear:both;
}

.dis-left{
	float:left;
}

.dis-form2{
	display: none;
}

.form_hide{
	display:none!important;
}

.form_show{
	display:inline!important;
}


/* extend css */


.discres-container{
	margin-bottom: 10px;
	border: 1px solid #d9d9d9;
	background:#f7f7f7;
}

.discres-title{
	background: #f1f1f1;
	border-bottom: 1px dashed #d9d9d9;
	padding:10px;
}

.discres-title span{
	font-size: 18px;
	letter-spacing: .3px;
	text-transform: uppercase;
	color:#545353;
}
	
.dscres-detail--cont{
	padding: 20px 10px 20px;
}

.image-detail{
	border:1px solid #d9d9d9;
	margin-bottom: 15px;
}

.image-detail img{
	border: 10px solid #fff;
}

.detail-1st{
	min-width: 250px;
	margin-left: 30px;

}

.detail-1st p{
	padding:0!important;
	display: block!important;
	color:#545353;
	padding:10px 0 0 0;
	font-size: 13px;
}

.detail-1st p b{


}

.detail-1st p.companytitle{
	padding:0!important;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	color:#545353;
}

.detail-2nd{
	margin-left: 30px;

}

.detail-2nd p{
	padding:0!important;
	display: block!important;
	color:#545353;
	padding:10px 0 0 0;
	font-size: 13px;
}

.detail-2nd p b{


}

.detail-2nd p.companytitle{
	padding:0!important;
	font-size: 15px;
	text-transform: uppercase;
	color:#545353;
}

.detail-2nd p button{
	margin-top: 10px;
	padding: 7px 15px;
	background:#3b3b3b;
	border-radius: 10px;
	text-transform: uppercase;
	border: none;
	color: #fff;
}














